[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ node_exporter_dir }}/node_exporter {{ node_exporter_opts }}

[Install]
WantedBy=multi-user.target
